/*
Stylesheet used in CourseWeb
*/

graph{
    fill-color: ghostwhite;
}

node{
    text-alignment: above;
    text-style: bold;
    size: 12px;
    text-size: 15%;
    fill-color: red, orange, yellow, green, blue, indigo, purple;
    fill-mode: dyn-plain;
}

edge{
    shape: freeplane;
    size: 1px;
}

edge.prereq{
    fill-mode: dyn-plain;
    fill-color:  rgba(0,0,0, 75), rgba(255, 0, 0, 75), rgba(255,215,0, 75);
}
edge.coreq{
    fill-color: lawngreen;
    stroke-mode: dots;
}