/*
Stylesheet used in CourseWeb
*/

graph{}

node{
    text-alignment: above;
    text-style: bold;
    size: 12px;
    text-size: 15%;
    fill-color: red, orange, yellow, green, blue, indigo, purple;
    fill-mode: dyn-plain;
}

edge{
    shape: freeplane;
    size: 2px;
}

edge.prereq{
    fill-color: lightblue;
}
edge.coreq{
    fill-color: lightpurple;
    stroke-mode: dots;
}